@model AddCourseFormModel



@{
    ViewData["Title"] = "Add course";
}

<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <h2 class="heading-margin text-center">Add course</h2>

            <form method="post">
                <div class="form-group">
                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control" placeholder="Name">
                        <span asp-validation-for="Name" class="small text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price">Price</label>
                        <input asp-for="Price" class="form-control" placeholder="Price">
                        <span asp-validation-for="Price" class="small text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="md-form md-outline input-with-post-icon datepicker">
                        <label asp-for="StartDate"></label>
                        <input asp-for="StartDate" min="@DateTime.UtcNow.ToString("mm/dd/yyyy")" placeholder="Select Start Date" type="text" class="form-control">
                        <i class="fas fa-calendar input-prefix" tabindex=0></i>
                        <span asp-validation-for="StartDate" class="small text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="md-form md-outline input-with-post-icon datepicker">
                        <label asp-for="EndDate"></label>
                        <input asp-for="EndDate" min="@DateTime.UtcNow.ToString("mm/dd/yyyy")" placeholder="Select End Date" type="text" class="form-control">
                        <i class="fas fa-calendar input-prefix" tabindex=0></i>
                        <span asp-validation-for="EndDate" class="small text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="SubjectId" ></label>
                    <select  asp-for="Subjects" class="form-control">
                        @foreach (var subject in Model.Subjects)
                        {
                            <option value="@subject.Id">@subject.Name</option>
                        }
                    </select>
                </div>              
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>


